body {
  margin: 0;
  display: flex;
  align-items: center;
  width: fit-content;
}

#question-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1s ease-out;
}

button {
  border: none;
  height: 50px;
  width: 100px;
  box-shadow: 1px 1px 5px black;
  background-color: white;
  padding: 5px;
  margin: 15px;
}

#no-button {
  position: relative;
}

#no-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1s ease-out;
}

#yes-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1s ease-out;
}