body {
  margin: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: courier, monospace;
  font-size: 18px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  background:
    radial-gradient(circle closest-side at 60% 43%, #694343 26%, rgba(187, 0, 51, 0) 27%),
    radial-gradient(circle closest-side at 40% 43%, #694343 26%, rgba(187, 0, 51, 0) 27%),
    radial-gradient(circle closest-side at 40% 22%, #3f2828 45%, rgba(221, 51, 85, 0) 46%),
    radial-gradient(circle closest-side at 60% 22%, #3f2828 45%, rgba(221, 51, 85, 0) 46%),
    radial-gradient(circle closest-side at 50% 35%, #3f2828 30%, rgba(221, 51, 85, 0) 31%),

    radial-gradient(circle closest-side at 60% 43%, #694343 26%, rgba(187, 0, 51, 0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, #694343 26%, rgba(187, 0, 51, 0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, #342121 45%, rgba(221, 51, 85, 0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, #342121 45%, rgba(221, 51, 85, 0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, #342121 30%, rgba(221, 51, 85, 0) 31%) 50px 50px;
  background-color: #694343;
  background-size: 100px 100px;
}

#question-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1s ease-out;
  max-width: 80dvw;
}

button {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 6px;
  word-spacing: 6px;
  color: black;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  margin: 10px;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  box-shadow: 0px 0px 40px black;
  background-color: white;
  padding: 5px;
  margin: 15px;
}

#no-button {
  position: relative;
}

#yes-button {
  cursor: url('../assets/happy-cursor.jpeg'), auto;
}

#no-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1s ease-out;
  max-width: 80dvw;
}

#no-container img{
  width: 30%
}

#yes-container {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 1s ease-out;
  max-width: 80dvw;
}

svg {
  overflow: visible;
  width: 20%
}

svg path#line {
  fill: none;
  stroke: #e00000;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }

  80% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.door {
  position: relative;
  width: 180px;
  height: 270px;
  left: calc(50% - 90px);
  margin-top: 1%;
  margin-bottom: 1%;
  transform-style: preserve-3d;
  transform: perspective(2500px);
}

.door-front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: left;
  box-shadow: 30px 0 50px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: #924500;
  z-index: 1;
  transition: .5s;
}

.door-top,
.door-bottom {
  content: "";
  position: absolute;
  background-color: #924500;
  width: 105px;
  height: 75px;
  border: 10px ridge #b05500;
  left: 22.5px;
}

.door-top {
  top: 25px;
}

.door-bottom {
  top: 155px;
}

.knob {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: #eeba0b;
  top: 122px;
  left: 145px;
  border-radius: 2px;
}

.knob:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #f1c83c;
  width: 18px;
  height: 18px;
  left: -1px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.knob:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-color: #333;
  top: 20px;
  left: 8.5px;
}

.door-back {
  position: relative;
  background: #333;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 10px solid #edf2f4;
}

.type {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinking {
  0% {
    border-color: transparent
  }

  50% {
    border-color: black
  }

  100% {
    border-color: transparent
  }
}

h1 {
  width: auto;
  max-width: 80dvw;
  text-shadow: 3px 3px #000;
}